#wrapper{
		margin: auto;
		width: 1000px;
	}
	#header{
		width: 1000px;
		height: 150px;
		border: 1px solid #ccc;
		background-color: red;
	}
	#menu{
		width: 1000px;
		height: 50px;
		border: 2px solid #ccc;
		background-color: pink;
	}
	#article{
		width: 1000px;
		height: 350px;
		border: 2px solid #ccc;
		background-color: gray;
	}
	#footer{
		width: 1000px;
		height: 50px;
		border: 2px solid #ccc;
		background-color: green;
	}
	